<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eureka.mp2.team4.planit.user.mapper.UserMapper">

    <insert id="register" parameterType="com.eureka.mp2.team4.planit.auth.dto.request.UserRegisterRequestDto">
        INSERT INTO users (id, email, password, username, nickname, phone_number, role, created_at)
        VALUES (#{id}, #{email}, #{password}, #{userName}, #{nickName}, #{phoneNumber}, #{role}, NOW())
    </insert>

    <select id="isExistEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM users
                       WHERE email = #{email})
    </select>

    <select id="isExistPhoneNumber" parameterType="string" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM users
                       WHERE phone_number = #{phoneNumber})
    </select>

    <select id="isExistNickName" parameterType="string" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM users
                       WHERE nickname = #{nickname})
    </select>

    <select id="findUserByEmail" parameterType="string" resultType="com.eureka.mp2.team4.planit.user.dto.UserDto">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <select id="findMyPageData" parameterType="string"
            resultType="com.eureka.mp2.team4.planit.user.dto.response.MyPageResponseDto">
        SELECT u.id,
               u.email,
               u.userName,
               u.nickname,
               (SELECT COUNT(*)
                FROM friend f
                WHERE (f.requester_id = u.id OR f.receiver_id = u.id)
                  AND f.status = 'ACCEPTED') AS friendCount,
               (SELECT COUNT(*)
                FROM user_team ut
                WHERE ut.user_id = u.id
                  AND ut.status = 'JOINED')  AS teamCount,
               (SELECT COUNT(*)
                FROM personal_todo pt
                WHERE pt.user_id = u.id)     AS todoCount

        FROM users u
        WHERE u.id = #{id}
    </select>


    <select id="findActiveUserByEmail" parameterType="string" resultType="com.eureka.mp2.team4.planit.user.dto.UserDto">
        SELECT *
        FROM users
        WHERE email = #{email}
          and is_active = true
    </select>

    <select id="findUserById" parameterType="string" resultType="com.eureka.mp2.team4.planit.user.dto.UserDto">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <update id="updateNickName">
        UPDATE users
        SET nickname = #{newNickName}
        WHERE id = #{userId}
    </update>

    <update id="updatePassword">
        UPDATE users
        SET password = #{newPassword}
        WHERE id = #{userId}
    </update>

    <update id="updateIsActive">
        UPDATE users
        SET is_Active = #{isActive}
        WHERE id = #{userId}
    </update>

    <delete id="deleteUserById" parameterType="string">
        DELETE
        FROM users
        WHERE id = #{userId}
    </delete>

    <select id="findUserByNameAndPhoneNumber" resultType="com.eureka.mp2.team4.planit.user.dto.UserDto">
        SELECT email
        FROM users
        WHERE username = #{name}
          AND phone_number = #{phoneNumber}
    </select>

    <select id="findActiveUserByNickName" parameterType="String">
        SELECT *
        FROM users
        WHERE nickName = #{nickName}
          AND is_active = true
    </select>

    <select id="findUserByNameAndEmail" resultType="com.eureka.mp2.team4.planit.user.dto.UserDto">
        SELECT email, id
        FROM users
        WHERE username = #{name}
          AND email = #{email}
    </select>

    <select id="findUserWithFriendStatus"
            resultType="com.eureka.mp2.team4.planit.user.dto.response.UserSearchForFriendResponseDto">
        SELECT u.id,
               u.nickname AS nickName,
               u.email,
               f.status   AS friendStatus
        FROM users u
                 LEFT JOIN friend f
                           ON (
                               (f.requester_id = #{currentUserId} AND f.receiver_id = #{targetUserId})
                                   OR
                               (f.requester_id = #{targetUserId} AND f.receiver_id = #{currentUserId})
                               )
        WHERE u.id = #{targetUserId}
    </select>

    <select id="findUserWithTeamStatus"
            resultType="com.eureka.mp2.team4.planit.user.dto.response.UserSearchForTeamResponseDto">
        SELECT u.id,
               u.nickname AS nickName,
               u.email,
               ut.status  AS teamMembershipStatus
        FROM users u
                 LEFT JOIN user_team ut
                           ON u.id = ut.user_id AND ut.team_id = #{teamId}
        WHERE u.id = #{targetUserId}
    </select>

    <select id="isUserTeamLeader" parameterType="string">
        SELECT EXISTS(SELECT 1
                      FROM users u
                               JOIN user_team ut ON u.id = ut.user_id AND ut.role = 'LEADER'
                      WHERE u.id = #{userId})
    </select>
</mapper>
